{% extends 'base.html.twig' %}

{% block title %}Sondages
{% endblock %}
{% block description %}Liste des sondages dont les joueurs de ScandiCraft peuvent participer pour donner leur avis sur les futurs nouveautés du serveur.
{% endblock %}

{% block body %}

	<section class="w-section section">
		<div class="w-container">
			<div class="w-row">

				<h1>Liste des sondages actifs ({{ sondages|length }})</h1>
				<p>Vous n'avez pas répondu à 2 sondages en cours..</p>
				<div style="margin-bottom: 48px;"></div>

				{% for sondage in sondages %}

					<div>
						<div class="top-title">
							<div class="title-txt">
								<h3>{{ sondage.title }}</h3>
							</div>
						</div>
						<div class="info-box">
							<p>
								{{ sondage.description }}
							</p>
							<div class="div-spc">
								{% if sondage.countUserAnswers(app.user.getId()) == 0 %}
									<form action="{{ path('post_survey_answer') }}" method="POST">
										<input type="hidden" name="survey" value="{{ sondage.id }}">
										{% for answer in sondage.getAnswersList() %}
											<button class="button no-spc {{ app.user ? '' : 'disabled tooltip-2' }}" {{ app.user ? '' : 'title="Connecte-toi !" disabled="true"' }} type="submit" name="answer" value="{{ answer.id }}">{{ answer.answer }}</button>
										{% endfor %}
									</form>
								{% else %}
									<div class="divider" style="margin-top:10px;margin-bottom:20px;"></div>
									<div class="text" style="font-size:18px;">
										<div>
											{% for answer in sondage.getAnswersList() %}
												<b>{{ answer.answer }}</b>: {{ answer.countAnswers }}
											{% endfor %}
										</div>
										<div>
											<i class="fa fa-chart-bar"></i>
											Réponses totales:
											<b>{{ sondage.countAnswers }}</b>
										</div>
									</div>
								{% endif %}
							</div>
						</div>

						<div class="meta-tag">
							<ul class="w-list-unstyled">
								<li class="li-top m-space">
									<div class="meta-cs">
										<div class="top-ico top-darker">
											<div class="w-embed">
												<i class="fa fa-calendar-week"></i>
											</div>
										</div>
										<div class="txt-top txt-last">Depuis:
											{{ sondage.getFromTheDate()|date("d/m/Y à h:s") }}</div>
									</div>
								</li>
								<li class="li-top m-space">
									<div class="meta-cs">
										<div class="top-ico top-darker">
											<div class="w-embed">
												<i class="fa fa-clock"></i>
											</div>
										</div>
										<div class="txt-top txt-last">Jusqu'au:
											<b>{{ sondage.getLimitDate()|date("d/m/Y à h:s") }}</b>
										</div>
									</div>
								</li>
								<li class="li-top m-space">
									<div class="meta-cs">
										<div class="top-ico top-darker">
											<div class="w-embed">
												<i class="fa fa-user"></i>
											</div>
										</div>
										<div class="txt-top txt-last">par
											{{ sondage.getUser().getUsername() }}</div>
									</div>
								</li>
								<li class="li-top m-space">
									<div class="meta-cs">
										<div class="top-ico top-darker">
											<div class="w-embed">
												<i class="fa fa-comment"></i>
											</div>
										</div>
										<div class="txt-top txt-last">0 Commentaires</div>
									</div>
								</li>
							</ul>
						</div>

						<div class="divider" style="margin-top:15px;"></div>
					</div>

				{% endfor %}
				{{ knp_pagination_render(sondages) }}

			</div>
		</div>

	</section>

{% endblock %}
