{% extends 'base.html.twig' %}

{% block title %}Sondages
{% endblock %}
{% block description %}Liste des sondages dont les joueurs de ScandiCraft peuvent participer pour donner leur avis sur les futurs nouveautés du serveur Minecraft PvP Faction.
{% endblock %}

{% block body %}

	<section class="w-section section">
		<div class="w-container">
			<div class="w-row">

				{% if enabled_sondages|length > 0 %}

					<h1>Liste des sondages actifs ({{ total_enabled_sondages }})</h1>
					{% if nbr_not_answer > 0 %}
						<p>Vous n'avez pas répondu à
							<b>{{ nbr_not_answer }}</b>
							sondages..</p>
					{% endif %}
					
					{% if archived_sondages|length > 0 %}
						<a href="{{ path('archived_sondages') }}" class="button btn-active btn-small" style="margin-left:0px;">Voir les sondages archivés</a>
					{% endif %}

					{% for sondage in enabled_sondages %}

						{% include "survey/survey.html.twig" with {'sondage': sondage, 'index': loop.index, 'canArgument': true} %}

					{% endfor %}
					{{ knp_pagination_render(enabled_sondages) }}

				{% else %}
					<h1>Aucun sondage actuellement</h1>
					<p>
						Il n'y a aucun sondage en cours !<br/>
						{% if archived_sondages|length > 0 %}
							Cependant, vous pouvez consulter la liste des archives:<br/><br/>
							<a class="button" href="{{ path('archived_sondages') }}">Visiter les archives ({{ archived_sondages|length }})</a>
						{% else %}
							Et aucune archive disponible pour le moment.
						{% endif %}
					</p>
				{% endif %}

			</div>
		</div>

	</section>

{% endblock %}
