{% extends 'base.html.twig' %}

{% block title %}Sondage: {{ sondage.title }}
{% endblock %}
{% block description %}Sondage Minecraft Faction: {{ sondage.description }}{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('mc_skins') }}
{% endblock %}

{% block body %}

	<section class="w-section section">
		<div class="w-container">
			<div class="w-row">

				{% include "survey/survey.html.twig" with {'sondage': sondage, 'canArgument': false, 'canShowComment': false} %}

				<div class="scandicraft_error">Vous ne pouvez pas commenter un sondage archivé.</div>

				<div style="padding-top: 50px;"></div>
				{% if sondage.getSurveyComments()|length > 0 %}

					<h5>Commentaires&nbsp;<span class="lighter">({{ sondage.getSurveyComments()|length }})</span>
					</h5>
					{% for comment in sondage.getSurveyComments() %}
						<div class="w-clearfix comment">
							<div class="avatar">
								{% import "_components/mc_viewer/head.twig" as head %}
								{{ head.render('uploads/skins/' ~ comment.getUser().getUsername() ~ '.png') }}
							</div>
							<div class="comment-dess">
								<div class="arrow-coment"></div>
								<div class="w-clearfix comment-by">
									<h5 class="name">{{ comment.getUser().getUsername() }}</h5>
									<div class="date">Le
										{{ comment.getCommentAt()|date("d/m/Y à H:i") }}
										&nbsp;</div>
								</div>
								<p>
									{{ comment.comment }}
								</p>
							</div>
						</div>
					{% endfor %}

				{% else %}
					<p>Aucun commentaire</p>
				{% endif %}

			</div>
		</div>

	</section>

{% endblock %}
