{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}

	{% set links %}
	<a href="{{ path('accueil') }}">Accueil</a>/<a href="{{ path('app_login') }}">Se connecter</a>
	{% endset %}

	{% include 'blocks/sub-banner.html.twig' with {
		'title': 'Connexion',
		'sub_title': 'Connectez-vous sur notre site',
		'links': links,
	} %}

	<section class="w-section section">
		<div class="w-container">
			<div class="w-row">

				<h2>Se connecter</h2>
				<div class="divider"></div>

				{% if error %}
					<div id="logo_error_data" data-login="{{ error.messageKey|trans(error.messageData, 'security') }}"></div>
	        		<script type="text/javascript">
						let data = document.querySelector('#logo_error_data');
						toast.error(data.dataset.login);
					</script>
					{# <div class="bt-alert bt-alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div> #}
				{% endif %}

				<form method="post">
					<div class="row">
						<div class="form-group col-12 col-md-6">
							<label for="inputUsername">Pseudonyme ou email</label>
							<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control w-input" required autofocus>
						</div>
						<div class="form-group col-12 col-md-6">
							<label for="inputPassword">{{ 'input.password'|trans }}</label>
							<input type="password" name="password" id="inputPassword" class="form-control w-input" required>
						</div>
					</div>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<div class="row">
						<button type="submit" class="button" name="Submit">
							{{ 'submit.login'|trans }}
						</button>
					</div>
				</form>

			</div>
		</div>
	</section>

{% endblock %}
