{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}

	{% set links %}
	<a href="{{ path('accueil') }}">Accueil</a>/<a href="{{ path('app_login') }}">Se connecter</a>
	{% endset %}

	{% include 'blocks/sub-banner.html.twig' with {
		'title': 'Connexion',
		'sub_title': 'Connectez-vous sur notre site',
		'links': links,
	} %}

	<section class="w-section section">
		<div class="w-container">
			<div class="w-row">

				<h2>Se connecter</h2>
				<div class="divider"></div>

				{% if error %}
					<div id="logo_error_data" data-login="{{ error.messageKey|trans(error.messageData, 'security') }}"></div>
					<script type="text/javascript">
						let data = document.querySelector('#logo_error_data');
toast.error(data.dataset.login);
					</script>
				{% endif %}

				<form method="post">
					<div class="row">
						<div class="form-group col-12 col-md-6">
							<label for="inputUsername">Pseudonyme ou email</label>
							<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control w-input" required autofocus>
						</div>
						<div class="form-group col-12 col-md-6">
							<label for="inputPassword">{{ 'input.password'|trans }}</label>
							<input type="password" name="password" id="inputPassword" class="form-control w-input" required>
						</div>
					</div>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<div class="row">
						<div class="col-12 col-md-6" style="padding-left: 8px;">
							<button type="submit" class="button" name="Submit">
								{{ 'submit.login'|trans }}
							</button>
						</div>
						<div class="col-12 col-md-6 d-flex flex-row-reverse">
							<a href="#" class="sm-lnk" data-toggle="modal" data-target="#reset_password">
								<u>{{ 'login.button.reset_password'|trans }}</u>
							</a>
						</div>
					</div>
				</form>

			</div>

			<div class="d-flex justify-content-center" style="margin-top: 15px;">
				<img class="login-logo" src="{{ asset('assets/img/main-logo.png') }}" alt="ScandiCraft logo">
			</div>

		</div>
	</section>

	<!-- Modal -->
	<div class="modal fade" id="reset_password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="padding-right: 0px;">
		<div class="vertical-alignment-helper">
			<div class="modal-dialog vertical-align-center">
				<div class="modal-content">
					<form action="{{ path('ask_reset_password') }}" method="post">
						<div class="modal-header">
							<h4 class="modal-title" id="myModalLabel">Vous voulez réinitialiser votre mot de passe ?</h4>
						</div>
						<div class="modal-body">
							<label for="forgotPasswordEmail">{{ 'input.email'|trans }}</label>
							<input type="email" name="forgot_email" id="forgotPasswordEmail" class="form-control w-input" required="true">
						</div>
						<div class="modal-footer">
							<button type="button" class="button btn-active" data-dismiss="modal">Annuler</button>
							<button type="submit" class="button">Envoyer</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap-modal.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('assets/js/modal.js') }}"></script>
{% endblock %}

{% block stylesheets %}
	<link type="text/css" href="{{ asset('bootstrap/css/bootstrap-modal.min.css') }}" rel="stylesheet"/>
{% endblock %}
