{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}

	{% set links %}
	<a href="{{ path('accueil') }}">Accueil</a>/<a href="{{ path('app_register') }}">S'inscrire</a>
	{% endset %}

	{% include 'blocks/sub-banner.html.twig' with {
		'title': 'Bienvenue sur notre site !',
		'sub_title': 'Inscrivez-vous sur notre site',
		'links': links,
	} %}

	<section class="w-section section">
		<div class="w-container">
			<div class="w-row">

				<h2>S'inscrire</h2>
				<div class="divider"></div>

				{{ form_start(registrationForm) }}
				<div class="row">
					<div class="form-group col-12 col-md-6">
						{{ form_label(registrationForm.username) }}
						{% include 'form/form_error.html.twig' with {
							'field': registrationForm.username
						} %}
						{{ form_widget(registrationForm.username, { 'attr': {'class': 'w-input'} }) }}
					</div>
					<div class="form-group col-12 col-md-6">
						{{ form_label(registrationForm.email) }}
						{% include 'form/form_error.html.twig' with {
							'field': registrationForm.email
						} %}
						{{ form_widget(registrationForm.email, { 'attr': {'class': 'w-input'} }) }}
					</div>
				</div>
				<div class="row">
					<div class="form-group col-12 col-md-6">
						{{ form_label(registrationForm.plainPassword.first) }}
						{% include 'form/form_error.html.twig' with {
							'field': registrationForm.plainPassword.first
						} %}
						{{ form_widget(registrationForm.plainPassword.first, { 'attr': {'class': 'w-input'} }) }}
					</div>
					<div class="form-group col-12 col-md-6">
						{{ form_label(registrationForm.plainPassword.second) }}
						{% include 'form/form_error.html.twig' with {
							'field': registrationForm.plainPassword.second
						} %}
						{{ form_widget(registrationForm.plainPassword.second, { 'attr': {'class': 'w-input'} }) }}
					</div>
				</div>
				<div class="row">
					<button type="submit" class="button" name="Submit">
						{{ 'submit.register'|trans }}
					</button>
				</div>
				{{ form_end(registrationForm) }}

			</div>
		</div>
	</section>

{% endblock %}
