<!-- START HEADER -->
<header class="header-v1">
	<div class="top-header">
		<!-- Top Header -->
		<div class="w-container" style="position:relative;z-index:100;">
			<div class="top-left">
				<ul class="w-list-unstyled">
					<li class="li-top m-space li-top-right">
						<div class="top-ico">
							{# <i class="fa fa-spinner fa-spin"></i> #}
							<i class="fa fa-wrench"></i>
						</div>
						{# <div class="txt-top">{{ user_service.count_online_users() }} connectés</div> #}
						<div class="txt-top">En maintenance</div>
					</li>
					<li class="li-top m-space li-top-right">
						<div class="top-ico">
							<i class="fa fa-user"></i>
						</div>
						<div class="txt-top">{{ user_service.count_register_users() }} inscrits</div>
					</li>
				</ul>
			</div>
			<div class="top-right">
				<ul class="w-list-unstyled">
					<li class="li-top">
						{% if app.user %}
							<a href="{{ path('compte') }}">
								<div class="top-link">
									<div class="top-ico">
										<i class="fas fa-user-circle"></i>
									</div>
									<div class="txt-top">Mon compte</div>
								</div>
							</a>
						{% else %}
							<a href="{{ path('app_login') }}">
								<div class="top-link">
									<div class="top-ico">
										<i class="fas fa-lock"></i>
									</div>
									<div class="txt-top">Se connecter</div>
								</div>
							</a>
						{% endif %}
					</li>
					{% if app.user %}
						<li class="li-top">
							<a href="{{ path('compte') }}">
								<div class="top-link">
									<div class="top-ico">
										<i class="fas fa-coins"></i>
									</div>
									<div class="txt-top">Créditer</div>
								</div>
							</a>
						</li>
					{% endif %}
					{% if app.user and is_granted('ROLE_PANEL_ADMIN') %}
						<li class="li-top" style="font-weight:bold;background-color:#70db70;border-radius:6px;">
							<a href="{{ path('easyadmin') }}">
								<div class="top-link">
									<div class="top-ico">
										<i class="fas fa-cogs" style="color:white;"></i>
									</div>
									<div class="txt-top" style="color:white;">Panel Admin</div>
								</div>
							</a>
						</li>
					{% endif %}
					<li class="li-top">
						{% if app.user %}
							<a href="{{ path('app_logout') }}">
								<div class="top-link">
									<div class="top-ico">
										<i class="fas fa-sign-out-alt"></i>
									</div>
									<div class="txt-top">Se déconnecter</div>
								</div>
							</a>
						{% else %}
							<a href="{{ path('app_register') }}">
								<div class="top-link">
									<div class="top-ico">
										<i class="fas fa-sign-in-alt"></i>
									</div>
									<div class="txt-top">S'enregister</div>
								</div>
							</a>
						{% endif %}
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- End Top Header -->

	{% include 'blocks/nav.html.twig' %}</header>
<!-- END HEADER -->
