<!-- Start Bottom Header -->
<a href="{{ path('accueil') }}">
	<div class="row justify-content-center nav_logo">
		<img class="login-logo" src="{{ asset('assets/img/main-logo.png') }}" alt="ScandiCraft logo">
	</div>
</a>
<div class="bottom-header">
	<div class="w-container">

		<a class="w-inline-block hamburger" href="#" data-ix="show-navigation-menu"></a>

		<!-- Navigation left -->
		<nav class="navigation top-left">
			<ul class="w-list-unstyled">
				<li class="li-menu nav_accueil" data-ix="show-dropdown">
					<a class="w-inline-block link-menu {{ app.request.get('_route') in ['accueil'] ? 'active' : '' }}" href="{{ path('accueil') }}">
						<div>Accueil</div>
					</a>
				</li>
				<li class="li-menu" data-ix="show-dropdown">
					<a class="w-inline-block link-menu {{ app.request.get('_route') in ['jouer'] ? 'active' : '' }}" href="{{ path('jouer') }}">
						<div>
							<i class="fas fa-play-circle scandicraft-play"></i>
							Nous rejoindre</div>
					</a>
				</li>
				<li class="li-menu" data-ix="show-dropdown">
					<a class="w-inline-block link-menu {{ app.request.get('_route') in ['voter'] ? 'active' : '' }}" href="{{ path('jouer') }}">
						<div>
							Voter</div>
					</a>
				</li>
				<li class="li-menu" data-ix="show-dropdown">
					<a class="w-inline-block link-menu {{ app.request.get('_route') in ['forum', 'nouveautes', 'sondages', 'maintenances'] ? 'active' : '' }}" href="#">
						<div>Communauté</div>
					</a>
					<ul class="w-list-unstyled dropdown-menu" style="display: none;">
						<li class="li-drop">
							<a class="w-inline-block dd-link {{ app.request.get('_route') in ['forum'] ? 'w--current' : '' }}" href="{{ path('forum') }}" data-ix="move-txt-dropdown">
								<div class="dd-txt">Forum</div>
							</a>
						</li>
						<li class="li-drop">
							<a class="w-inline-block dd-link {{ app.request.get('_route') in ['nouveautes'] ? 'w--current' : '' }}" href="{{ path('nouveautes') }}" data-ix="move-txt-dropdown">
								<div class="dd-txt">Nouveautés</div>
							</a>
						</li>
						<li class="li-drop">
							<a class="w-inline-block dd-link {{ app.request.get('_route') in ['sondages'] ? 'w--current' : '' }}" href="{{ path('sondages') }}" data-ix="move-txt-dropdown">
								<div class="dd-txt">Sondages</div>
							</a>
						</li>
						<li class="li-drop">
							<a class="w-inline-block dd-link {{ app.request.get('_route') in ['maintenances'] ? 'w--current' : '' }}" href="{{ path('maintenances') }}" data-ix="move-txt-dropdown">
								<div class="dd-txt">Maintenances ({{ maintenance_service.count_maintenances() }})</div>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
		<!-- End Navigation -->
		<!-- Navigation right -->
		<nav class="navigation top-right">
			<ul class="w-list-unstyled top-fix-right">
				<li class="li-menu" data-ix="show-dropdown">
					<a class="w-inline-block link-menu {{ app.request.get('_route') in ['presentation', 'staff', 'remerciements'] ? 'active' : '' }}" href="#">
						<div>Qui sommes nous ?</div>
					</a>
					<ul class="w-list-unstyled dropdown-menu" style="display: none;">
						<li class="li-drop">
							<a class="w-inline-block dd-link {{ app.request.get('_route') in ['presentation'] ? 'w--current' : '' }}" href="{{ path('presentation') }}" data-ix="move-txt-dropdown">
								<div class="dd-txt">Présentation</div>
							</a>
						</li>
						<li class="li-drop">
							<a class="w-inline-block dd-link {{ app.request.get('_route') in ['equipe'] ? 'w--current' : '' }}" href="{{ path('equipe') }}" data-ix="move-txt-dropdown">
								<div class="dd-txt">L'équipe</div>
							</a>
						</li>
						<li class="li-drop">
							<a class="w-inline-block dd-link {{ app.request.get('_route') in ['remerciements'] ? 'w--current' : '' }}" href="{{ path('remerciements') }}" data-ix="move-txt-dropdown">
								<div class="dd-txt">Remerciements</div>
							</a>
						</li>
					</ul>
				</li>
				<li class="li-menu" data-ix="show-dropdown">
					<a class="w-inline-block link-menu {{ app.request.get('_route') in ['wiki', 'support'] ? 'active' : '' }}" href="#">
						<div>Aide</div>
					</a>
					<ul class="w-list-unstyled dropdown-menu" style="display: none;">
						<li class="li-drop">
							<a class="w-inline-block dd-link {{ app.request.get('_route') in ['wiki'] ? 'w--current' : '' }}" href="#" data-ix="move-txt-dropdown">
								<div class="dd-txt">Wiki</div>
							</a>
						</li>
						<li class="li-drop">
							<a class="w-inline-block dd-link {{ app.request.get('_route') in ['support'] ? 'w--current' : '' }}" href="#" data-ix="move-txt-dropdown">
								<div class="dd-txt">Support</div>
							</a>
						</li>
						<li class="li-drop">
							<a class="w-inline-block dd-link {{ app.request.get('_route') in ['faq'] ? 'w--current' : '' }}" href="#" data-ix="move-txt-dropdown">
								<div class="dd-txt">FAQ</div>
							</a>
						</li>
					</ul>
				</li>
				<li class="li-menu" data-ix="show-dropdown">
					<a class="w-inline-block link-menu" href="#">
						<div>Boutique
						</div>
					</a>
				</li>
			</ul>
		</nav>
		<!-- End Navigation -->

	</div>
</div>
<!-- End Bottom Header -->
