<!-- Start Bottom Header -->
<div class="bottom-header">
	<div class="w-container">
		<a class="w-inline-block hamburger" href="#" data-ix="show-navigation-menu"></a>
		<a class="w-inline-block brand-logo" href="{{ path('accueil') }}">
			<img class="tooltip header-logo" src="{{ asset('assets/img/header-logo.png') }}" title="ScandiCraft - PvP / Faction / Launcher" alt="ScandiCraft logo">
		</a>
		<!-- Navigation -->
		<nav class="navigation">
			<ul class="w-list-unstyled">
				<li class="li-menu" data-ix="show-dropdown">
					<a class="w-inline-block link-menu active" href="{{ path('accueil') }}">
						<div>Accueil</div>
					</a>
				</li>
				<li class="li-menu" data-ix="show-dropdown">
					<a class="w-inline-block link-menu" href="#">
						<div>Changelog</div>
					</a>
				</li>
				<li class="li-social">
					<div class="w-clearfix social-wrapper">
						<a class="w-inline-block social-ico twitter tooltip-2" href="//{{ twitter_link }}" title="Twitter" target="_blank">
							<div class="w-embed">
								<i class="fab fa-twitter"></i>
							</div>
						</a>
						<a class="w-inline-block social-ico discord tooltip-2" href="//{{ discord_link }}" title="Discord" target="_blank">
							<div class="w-embed">
								<i class="fab fa-discord"></i>
							</div>
						</a>
						<a class="w-inline-block social-ico youtube tooltip-2" href="//{{ youtube_link }}" title="Youtube" target="_blank">
							<div class="w-embed">
								<i class="fab fa-youtube"></i>
							</div>
						</a>
					</div>
				</li>
			</ul>
		</nav>
		<!-- End Navigation -->
	</div>
</div>
<!-- End Bottom Header -->
