<div class="row" style="align-items: center;">
    <div class="col-12 col-md-4">
        Inscrit le:
    </div>
    <div class="col-6 col-md-4">
        {{ user.createdAt|date("d.m.Y") }}
        à
        {{ user.createdAt|date("H:i") }}
    </div>
</div>
<div class="divider" style="margin-bottom: 15px;margin-top: 15px;"></div>
<div class="row" style="align-items: center;">
    <div class="col-12 col-md-4">
        {{ 'input.email'|trans }}:
    </div>
    <div class="col-6 col-md-4">
        {{ user.email }}
    </div>
</div>
<div class="divider" style="margin-bottom: 15px;margin-top: 15px;"></div>
<div class="row" style="align-items: center;">
    <div class="col-12 col-md-4">
        Mot de passe:
    </div>
    <div class="col-6 col-md-4">
        ********
    </div>
    <div class="col-6 col-md-4 tab-menu-last-col">
        <a class="button btn-active btn-extra-small" href="#" style="float: right;"
           data-toggle="modal" data-target="#reset_password">Modifier</a>
    </div>
</div>
<div class="divider" style="margin-bottom: 15px;margin-top: 15px;"></div>
<div class="row" style="align-items: center;">
    <div class="col-12 col-md-4">
        Grade:
    </div>
    <div class="col-6 col-md-4">
        Scandinave
    </div>
    <div class="col-6 col-md-4 tab-menu-last-col">
        <a class="button btn-active btn-extra-small" href="#" style="float: right;">Boutique</a>
    </div>
</div>
<div class="divider" style="margin-bottom: 15px;margin-top: 15px;"></div>
<div class="row" style="align-items: center;">
    <div class="col-12 col-md-4">
        Votes:
    </div>
    <div class="col-6 col-md-4">
        {{ nombre_votes }}
    </div>
    <div class="col-6 col-md-4 tab-menu-last-col">
        <a class="button btn-active btn-extra-small" href="{{ path('voter') }}"
           style="float: right;">Voter</a>
    </div>
</div>
<div class="divider" style="margin-bottom: 15px;margin-top: 15px;"></div>
<div class="row" style="align-items: center;">
    <div class="col-12 col-md-4">
        Skin:
    </div>
    <div class="col-6 col-md-4">
        {% import "_components/mc_viewer/head.twig" as head %}
        {{ head.render('uploads/skins/' ~ user.username ~ '.png') }}
    </div>
    <div class="col-6 col-md-4 tab-menu-last-col">
        <input type="file"
               id="upload_skin" name="avatar"
               accept="image/png, image/jpeg">
        <a id="btn_send_skin" class="button btn-active btn-extra-small" style="float: right;">Modifier</a>
    </div>
    <div class="col-12" style="margin-top:50px;">
        {% import "_components/mc_viewer/skin.twig" as skin %}
        {{ skin.render('uploads/skins/' ~ user.username ~ '.png', 8) }}
    </div>
</div>

{% block javascripts %}
    <script type="application/ld+json" id="script_skin_data">
    {
        "skin_input": "upload_skin",
        "button_skin_upload": "btn_send_skin",
        "upload_skin_route": "{{ path('upload_skin') }}"
    }
    </script>
    {{ encore_entry_script_tags('upload_skin') }}
{% endblock %}