<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - {{ server_name }} Minecraft Serveur PvP Faction Launcher Moddé !</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if block("description") is defined %}
            <meta name="description" content="{{ block('description') }}" />
		    <meta property="og:description" content="{{ block('description') }}" />
        {% else %}
            <meta name="description" content="ScandiCraft est un serveur Minecraft PvP / Faction / Moddé et MMORPG avec Launcher Obligatoire !" />
		    <meta property="og:description" content="ScandiCraft est un serveur Minecraft PvP / Faction / Moddé et MMORPG avec Launcher Obligatoire !" />
        {% endif %}
		<meta name="keywords" content="scandicraft,minecraft,mc,serveur,pvp,faction,mods,moddé,launcher,scandium,scandi,bricefab,bricefab123,minijeux,minigames" />
		<meta name="author" content="ScandiCraft" />
        <meta name="author" content="BriceFab" />
		<meta name="author" content="Fabrice Riva" />
		<meta name="robots" content="index,follow" />

        <meta property="og:title" content="{{ server_name }} - {{ block('title') }}" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="{{ app.request.uri }}" />

        <!-- FAVICON -->
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        <!-- MOBILE ICON -->
        <link rel="apple-touch-icon" href="{{ asset('favicon.ico') }}">

        <!-- main css -->
        <link type="text/css" href="{{ asset('theme/css/normalize.css') }}" rel="stylesheet"/>
        <link type="text/css" href="{{ asset('theme/css/base.css') }}" rel="stylesheet"/>
        <link type="text/css" href="{{ asset('theme/css/lightbox.css') }}" rel="stylesheet"/>
        <link type="text/css" href="{{ asset('theme/css/tooltipster.css') }}" rel="stylesheet"/>
        <link type="text/css" href="{{ asset('fontawesome/css/all.css') }}" rel="stylesheet"/>
        <link type="text/css" href="{{ asset('bootstrap/css/bootstrap-grid.min.css') }}" rel="stylesheet"/>

        {{ encore_entry_link_tags('app') }}

        {% block stylesheets %}{% endblock %}
        
        <!-- Google ads -->
        <script data-ad-client="ca-pub-1457190527508329" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    </head>
    <body>
        <!-- react app -->
        <div id="main_app"></div>
        {{ encore_entry_script_tags('main_app') }}

        <!-- body -->
        {% include 'blocks/header.html.twig' %}

        <!-- notifications -->
        {% for message in app.flashes('notice') %}
		    <div id="notification_notice" data-message="{{ message|trans }}"></div>
	        <script type="text/javascript">
			    let data = document.querySelector('#notification_notice');
				toast.success(data.dataset.message);
			</script>
        {% endfor %}

        {% for message in app.flashes('error') %}
		    <div id="notification_error" data-message="{{ message|trans }}"></div>
	        <script type="text/javascript">
			    let data = document.querySelector('#notification_error');
				toast.error(data.dataset.message);
			</script>
        {% endfor %}

        {% block body %}{% endblock %}
        {% include 'blocks/footer.html.twig' %}
        <!-- end body -->
        
        <!-- main javascript -->
        {{ encore_entry_script_tags('app') }}
        <script type="text/javascript" src="{{ asset('theme/js/jquery-1.11.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('theme/js/jquery-moutheme.js') }}"></script>
        <script type="text/javascript" src="{{ asset('theme/js/default.js') }}"></script>
        <script type="text/javascript" src="{{ asset('theme/js/jquery.tooltipster.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('theme/js/lightbox.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('theme/js/jquery.mixitup.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('theme/js/jquery.stellar.js') }}"></script>
        <script type="text/javascript" src="{{ asset('theme/js/modernizr.js') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
        <script>
            WebFont.load({
                google: {
                    families: ["Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic"]
                }
            });
        </script>
        <!--[if lte IE 9]><script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
        {% block javascripts %}{% endblock %}
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162722063-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-162722063-1');
        </script>

    </body>
</html>
