<div class="row" style="align-items: center;">
    <div class="col-12 col-md-4">
        Inscrit le:
    </div>
    <div class="col-6 col-md-4">
        {{ user.createdAt|date("d.m.Y") }}
        à
        {{ user.createdAt|date("H:i") }}
    </div>
</div>
<div class="divider" style="margin-bottom: 15px;margin-top: 15px;"></div>
<div class="row" style="align-items: center;">
    <div class="col-12 col-md-4">
        {{ 'input.email'|trans }}:
    </div>
    <div class="col-6 col-md-4">
        {{ user.email }}
    </div>
</div>
<div class="divider" style="margin-bottom: 15px;margin-top: 15px;"></div>
<div class="row" style="align-items: center;">
    <div class="col-12 col-md-4">
        Mot de passe:
    </div>
    <div class="col-6 col-md-4">
        ********
    </div>
    <div class="col-6 col-md-4">
        <a class="button btn-active btn-extra-small" href="#" style="float: right;"
           data-toggle="modal" data-target="#reset_password">Modifier</a>
    </div>
</div>
<div class="divider" style="margin-bottom: 15px;margin-top: 15px;"></div>
<div class="row" style="align-items: center;">
    <div class="col-12 col-md-4">
        Grade:
    </div>
    <div class="col-6 col-md-4">
        Scandinave
    </div>
    <div class="col-6 col-md-4">
        <a class="button btn-active btn-extra-small" href="#" style="float: right;">Boutique</a>
    </div>
</div>
<div class="divider" style="margin-bottom: 15px;margin-top: 15px;"></div>
<div class="row" style="align-items: center;">
    <div class="col-12 col-md-4">
        Votes:
    </div>
    <div class="col-6 col-md-4">
        {{ nombre_votes }}
    </div>
    <div class="col-6 col-md-4">
        <a class="button btn-active btn-extra-small" href="{{ path('voter') }}"
           style="float: right;">Voter</a>
    </div>
</div>