{% extends 'base.html.twig' %}

{% block title %}Remerciements
{% endblock %}
{% block description %}Remerciements à tous les buileurs, designeurs, graphistes volontaires sur ScandiCraft !
{% endblock %}

{% block body %}

	<section class="w-section section">
		{% for category in categories %}
			{% if category.thanks|length > 0 %}
				<div class="w-container">
					<div class="top-title">
						<div class="title-txt">
							<h5>{{ category.name }}
								<span class="sub-title-lighter">/
									{{ category.subtitle }}</span>
							</h5>
						</div>
						<div class="divider"></div>
					</div>
					<div>
						<p>
							{{ category.description }}
						</p>
					</div>
					<div class="top-spc">
						<div class="w-row">
							{% for thank in category.thanks %}
								<div class="w-col w-col-3">
									<div class="team-wrapper">
										<div class="container">
											<div class="row">
												<div class="col-8">
													<h5 class="tm-title">{{ thank.user.username }}</h5>
													{% set cat_length = category.name|length %}
													<div class="sub-title-lighter">{{ category.name|trim|slice(0, cat_length - 1) }}</div>
												</div>
												<div class="col-4" style="text-align:right;">
													<img src="{{ thank.getHeadLink() }}" class="minecraft-head-skin">
												</div>
											</div>
										</div>
										<div class="div-spc">
											<div class="line-team"></div>
											<p style="text-align:justify;">
												{{ thank.presentation|raw }}
											</p>
											<div class="line-team"></div>
											<div class="w-clearfix social-wrapper no-dwn">
												{% for network in thank.getSocialmedia() %}
													{% set network_name = network.getSocialmediaType().name|lower %}
													<a class="w-inline-block social-ico {{ network_name }} tooltip-2" href="//{{ network.url }}" target="_blank" title="{{ network_name|capitalize }}" rel="nofollow">
														<div class="w-embed">
															<i class="fab fa-{{ network_name }}"></i>
														</div>
													</a>
												{% endfor %}
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
				<br/>
			{% else %}
				<div class="w-container">
					<div class="top-title">
						<div class="title-txt">
							<h5>{{ category.name }}
								<span class="sub-title-lighter">/
									{{ category.subtitle }}</span>
							</h5>
						</div>
						<div class="divider"></div>
					</div>
					<div>
						<p>
							{{ category.description }}
						</p>
					</div>
					<div class="top-spc">
						<p>
							Aucun personne pour le moment.
						</p>
					</div>
				</div>
				<br/>
			{% endif %}
		{% endfor %}

		<!-- staff -->
		<ins class="adsbygoogle" style="display:block;width:728px;height:90px;margin:auto;" data-ad-client="ca-pub-1457190527508329" data-ad-slot="4153225903"></ins>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
		</script>

	</section>
{% endblock %}
