{% extends 'base.html.twig' %}

{% block title %}
	Forum:
	{{ forumCategory.name }},
	{{ forumSubCategory.name }}
{% endblock %}
{% block description %}
	{{ forumSubCategory.description }}
{% endblock %}

{% block body %}
	<section class="w-section section">

		<div class="w-container forum-container" style="padding-top: 35px;">

			<div class="list-group" style="padding-bottom: 35px;">
				<div class="list-group-item list-group-item-action active" style="padding-right: 5px;">
					<div class="container">
						<div class="row">
							<div class="col-12 col-md-12 d-flex align-items-center">
								{% if discussion.getStaffOnly() %}
									<span class="badge badge-dark">Staff seulement</span>
								{% endif %}
								{{ ' | ' }}
								{{ discussion.title }}
							</div>
						</div>
					</div>
				</div>
				<div class="list-group-item forum-subcat-desc">
					<div class="row">
						<div class="col-12 col-md-2 {{ mobileDetect() ? '' : 'forum-discussion-userinfos' }}">
							<div class="row d-flex justify-content-center align-items-center">
								<img {{ mobileDetect() ? '' : 'style="max-width:80px;max-height:80px;"' }} src="https://crafatar.com/avatars/948fc377-5ac9-482d-b942-182d6ca58357" class="minecraft-head-skin" alt="Forum Joueur {{ discussion.createdBy.username }}">
							</div>
							<div {{ mobileDetect() ? '' : 'style="padding-left:10px;padding-top:10px;"' }}>
								<div class="row d-flex justify-content-{{ mobileDetect() ? 'center' : 'start' }}">
									<p style="font-size: 17px;">
										<i class="fas fa-user"></i>
										{{ 'Par ' }}
										{{ discussion.createdBy.username }}
									</p>
								</div>
								<div class="row d-flex justify-content-{{ mobileDetect() ? 'center' : 'start' }}">
									<p style="font-size: 17px;">
										<i class="far fa-clock"></i>
										{{ 'Publié le ' }}
										{{ discussion.createdAt|date('d/m/Y') }}
									</p>
								</div>
								<div class="row d-flex justify-content-{{ mobileDetect() ? 'center' : 'start' }}">
									<p style="font-size: 17px;">
										<i class="far fa-calendar-check"></i>
										{{ 'Inscrit le ' }}
										{{ discussion.createdBy.createdAt|date('m/Y') }}
									</p>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-10">
							{% if mobileDetect('mobile') %}
								<div class="divider"></div>
							{% endif %}
							<div class="sun-editor-editable">
								{{ discussion.message|raw }}
							</div>
						</div>
					</div>
				</div>
				{% if discussion.getCreatedBy().getId() == app.user.id %}
					<div class="row">
						<div class="col-12 d-flex align-items-end justify-content-end">
							<a href="{{ path('delete_discussion', { 'discussion_id': discussion.id }) }}" class="badge badge-pill badge-danger" style="padding:10px;margin:5px;">Supprimer</a>
							<a href="{{ path('edit_discussion', { 'discussion_id': discussion.id }) }}" class="badge badge-pill badge-secondary" style="padding:10px;margin:5px;">Modifier</a>
						</div>
					</div>
				{% endif %}
			</div>

			{# Show commentaires #}
			<div>
				{% if discussion.getForumDiscussionAnswers()|length > 0 %}

					<h5>Réponses{{ ' ' }}<span class="lighter">({{ discussion.getForumDiscussionAnswers()|length }})</span>
					</h5>
					{% for answer in discussion.getForumDiscussionAnswers() %}
						<div class="w-clearfix comment">
							{% if not mobileDetect('mobile') %}
								<div class="avatar">
									<img class="minecraft-head-skin" alt="Joueur Minecraft" src="https://crafatar.com/avatars/b8ffc3d3-7dbf-4827-8f69-475f6690aabd">
								</div>
							{% endif %}
							<div class="comment-dess">
								<div class="arrow-coment"></div>
								<div class="w-clearfix comment-by">
									<h5 class="name">{{ answer.createdBy.username }}</h5>
									<div class="date">Le
										{{ answer.createdAt|date("d/m/Y à h:i") }}
										{% if app.user.id is defined and answer.createdBy.getId() == app.user.id %}
											<a href="{{ path('delete_discussion_answer', {'discussion_id': discussion.id, 'answer_id': answer.id }) }}" class="badge badge-pill badge-danger" style="padding:10px;">Supprimer</a>
											<a href="{{ path('edit_discussion_answer', {'discussion_id': discussion.id, 'answer_id': answer.id }) }}" class="badge badge-pill badge-secondary" style="padding:10px;">Modifier</a>
										{% endif %}
										{# / <a class="link-comment" href="#">Répondre</a> #}
										&nbsp;</div>
								</div>
								<div class="sun-editor-editable" style="background-color:#f6f6f6;">
									{{ answer.message|raw }}
								</div>
							</div>
						</div>
					{% endfor %}

				{% else %}
					<p>Aucune réponse</p>
				{% endif %}
			</div>

			{# Ajouter réponse #}
			<div>
				<div class="divider" style="margin-top:15px;"></div>
				{% include 'forum/forms/new_discussion_answer.html.twig' with {
					'discussion': discussion
    			} %}
			</div>

		</div>

	</div>

</section>{% endblock %}
