{% extends 'base.html.twig' %}

{% block title %}
	Forum:
	{{ forumCategory.name }},
	{{ forumSubCategory.name }}
{% endblock %}
{% block description %}
	{{ forumSubCategory.description }}
{% endblock %}

{% block body %}
	<section class="w-section section">

		<div class="w-container forum-container" style="padding-top: 35px;">

			<div class="list-group" style="padding-bottom: 35px;">
				<div class="list-group-item list-group-item-action active" style="padding-right: 5px;">
					<div class="container">
						<div class="row">
							<div class="col-12 col-md-6 d-flex align-items-center">
								{{ forumCategory.name }}
								-
								{{ forumSubCategory.name }}
							</div>
							<div class="col-12 col-md-6 d-flex justify-content-end" style="padding-right:0px;">
								{% if forumSubCategory.writable %}
									{# create discussion #}
									<a href="{{ path('forum_new_discussion', { 'main_slug': forumCategory.slug, 'sub_slug': forumSubCategory.slug }) }}" class="button button btn-second btn-small btn-rouned">
										<i class="fas fa-plus-square"></i>
										Discussion
									</a>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
				{% if forumSubCategory.description|length > 0 %}
					<div class="list-group-item forum-subcat-desc">
						<div class="sun-editor-editable">
							{{ forumSubCategory.description|raw }}
						</div>
					</div>
				{% endif %}

				{# foreach discussion #}
				{% set pin_discus = forumSubCategory.forumDiscussions|filter(disc => (disc.getStaffOnly() ? is_granted('ROLE_STAFF') : true) and disc.pin) %}
				{% set not_pin_discus = forumSubCategory.forumDiscussions|filter(disc => (disc.getStaffOnly() ? is_granted('ROLE_STAFF') : true) and not disc.pin) %}

				{# pin discussions #}
				{% if pin_discus|length > 0 %}
					<div class="forum-discussion-pin">
						{% include "forum/show_discussions.html.twig" with {'discussions': pin_discus, 'pin': true} %}
					</div>
				{% endif %}

				{# not pin discussions #}
				{% if not_pin_discus|length > 0 %}
					<div class="forum-discussion-not-pin">
						{% include "forum/show_discussions.html.twig" with {'discussions': not_pin_discus, 'pin': false} %}
					</div>
				{% elseif (pin_discus|length == 0) %}
					{% if forumSubCategory.writable %}
						<div class="forum-discussion-not-pin">
							<a href="{{ forumSubCategory.writable ? path('add_discussion', { 'main_slug': forumCategory.slug, 'sub_slug': forumSubCategory.slug }) : '#' }}" class="list-group-item list-group-item-action">
								<p>Aucune discussion</p>
							</a>
						</div>
					{% endif %}
				{% endif %}

			</div>

		</div>

	</section>
{% endblock %}
